@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-gray-100;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #243040 #0f1419;
  }
}
